    <a class="pg-accessible-hide-visual" href="#posts">Jump to posts</a>

    <%- partial('_partial/about', {class_name: 'pg-about'}) %>

    <div class="pg-posts" id="posts">
        
                        
        <h1 class="pg-blog-list-title" id="blog">Blog</h1>

        <% site.posts.sort('date', -1).limit(100).each(function(post){ %>
            <div class="pg-post">
                <h2 class="pg-post-title"><a class="pg-post-goto-link" href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a></h2>
                <p class="pg-post-date"><%= post.date.format('dddd, Do MMMM YYYY') || 'no date provided' %></p>
                
            </div>
        <% }) %>

        <a class="pg-goto-top" href="#blog">^ Go to top</a>

    </div> <!-- pg-posts -->

    <%- js('scripts/vue.js') %>
    
    <script>
        var allPosts = {"allPosts": [
            <% site.posts.sort('date', -1).each(function(post){ %>
                {title: "<%= post.title %>", slug: "<%= post.slug %>"},
            <% }) %>      
        ]};

        var app = new Vue({
            el: '#posts',
            data: {
                message: 'Hello Vue!',
                allPosts: allPosts
            }
        })
    </script>

