    <a class="pg-accessible-hide-visual" href="#posts">Jump to posts</a>

    <%- partial('_partial/about', {class_name: 'pg-about'}) %>

    <div class="pg-posts" id="posts">
        
                        
        <h1 class="pg-blog-list-title" id="blog">Blog</h1>

        <!-- <div class="pg-search-posts-container">
            <label for="pgSearchPosts">Search posts:</label>
            <input id="pgSearchPosts" type="text" placeholder="Type here" v-model="search">
        </div> -->

        <span class="input input--haruki" v-bind:class="{ 'input--filled': isSearching}">
            <input v-on:keyup="highlight($event)" class="input__field input__field--haruki" type="text" id="input-1" v-model="search" />
            <label class="input__label input__label--haruki" for="input-1">
                <span class="input__label-content input__label-content--haruki" v-if="!isSearching">Type to search posts</span>
                <span class="input__label-content input__label-content--haruki" v-else>{{filteredList.length}} posts found</span>
            </label>
        </span>

        <div class="pg-posts-container-no-search" v-if="!isSearching">
            <!-- <p>No search</p> -->
            <% site.posts.sort('date', -1).limit(100).each(function(post){ %>
                <div class="pg-post">
                    <h2 class="pg-post-title"><a class="pg-post-goto-link" href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a></h2>
                    <p class="pg-post-date"><%= post.date.format('dddd, Do MMMM YYYY') || 'no date provided' %></p>
                    
                </div>
            <% }) %>
        </div>

        <div class="pg-posts-container-search" v-else>
            <!-- <p>Is searching</p> -->
            <div class="pg-post" v-for="post in filteredList">
                    <h2 class="pg-post-title"><a class="pg-post-goto-link" :href="post.slug">{{ post.title }}</a></h2>
                    <p class="pg-post-date">{{ post.date | moment }}</p>     
            </div>
        </div>

        <a class="pg-goto-top" href="#blog" v-if="filteredList.length > 0">^ Go to top</a>


    </div> <!-- pg-posts -->

    <%- js('scripts/vendors.min.js') %>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script> -->
    
    <script>
        var allPosts = {"posts": [
            <% site.posts.sort('date', -1).each(function(post){ %>
                {title: "<%= post.title %>", slug: "<%= post.slug %>", date: "<%= post.date %>" },
            <% }) %>      
        ]};

        var app = new Vue({
            el: '#posts',
            data: {
                search: '',
                posts: allPosts.posts
            },
            methods: {
                highlight: function (event) {
                    var keyword = event.target.value;
                    var markInstance = new Mark(document.querySelector(".pg-posts-container-search"));
                    markInstance.unmark();
                    markInstance.mark(keyword,{acrossElements: true});
                    
                }
            },
            filters: {
                moment: function (date) {
                    return moment(date).format('dddd, Do MMMM YYYY');
                }
            },
            computed: {
                filteredList() {
                    return this.posts.filter(post => {
                        return post.title.toLowerCase().includes(this.search.toLowerCase())
                    })
                },
                isSearching() {
                    return this.search.length > 0;
                }
            }
        })
    </script>

