<!DOCTYPE html>
 <html class="no-js" lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Patrick Grey: <%= page.title || config.title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="<%= page.description || config.description %>">
        <style>
            body,html{padding:0;margin:0;font-family:Helvetica,Arial,freesans,sans-serif;font-size:130%;background:#fefefe;color:#333}[v-cloak]{display:none}a{overflow-wrap:break-word;word-wrap:break-word;text-decoration:none;background:#000;color:#fff;padding:0 3px}a.headerlink{background:0 0;padding:0;margin-top:3rem}h2,h3{color:#666}.pg-container{margin:1rem auto;max-width:32rem}.pg-about,.pg-post-about{max-width:25rem;margin-right:1rem}.pg-post-about{border-top:solid 1rem #eee;padding-top:1rem}.pg-about,.pg-post-about,.pg-posts{margin-left:1rem}.pg-accessible-hide-visual{position:absolute;overflow:hidden;clip:rect(0 0 0 0);height:1px;width:1px;margin:-1px;padding:0;border:0}.pg-hello{font-size:30vw;font-weight:bolder;margin:0}.input__field,.input__label{float:right;font-weight:700}.pg-hello-fullstop{color:#fff;font-size:1px;position:relative}.pg-hello-fullstop::before{content:'';position:absolute;top:-1rem;left:.45rem;display:block;width:.45rem;height:.45rem;background:#ff0;border:.3rem solid #444}.pg-posts{margin-bottom:4rem;margin-right:1rem}.pg-post-container{margin:0 auto}.pg-post{position:relative;margin-bottom:4rem}.pg-posts-back-to{text-align:right;margin-top:2rem;padding-top:1rem;padding-bottom:1rem;display:block}.pg-post-title{border-bottom:solid 5px #ccc;padding-bottom:1rem;margin-bottom:.5rem;line-height:2.5rem}.pg-post-date{font-size:.9rem;margin-top:0}.pg-blog-list-title{margin-top:4.5rem;margin-bottom:2.5rem}@media (min-width:600px){.pg-hello{font-size:7rem;line-height:7rem}}@media (min-width:1420px){.pg-about,.pg-post-about{position:fixed;overflow-y:auto;height:100%}body,html{font-size:130%;line-height:1.9rem}.pg-container{margin:0;max-width:100%}.pg-about{margin-top:0;width:40%;max-width:25rem;margin-left:1rem}.pg-post-about{top:2rem;border-top:none;padding-top:0}.pg-blog-list-title{margin-bottom:4rem;margin-top:2rem}.pg-posts{width:60%;max-width:35rem;margin:1rem 1.5rem 2rem auto}}.input{position:relative;z-index:1;display:inline-block;margin:1em;max-width:350px;width:calc(100% - 2em);vertical-align:top}.input__field{position:relative;display:block;padding:.8em;width:60%;border:none;border-radius:0;background:#f0f0f0;color:#aaa;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;-webkit-appearance:none}.input__field:focus{outline:0}.input__label{display:inline-block;padding:0 1em;width:40%;color:#6a7989;font-size:70.25%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.input__label-content{position:relative;display:block;padding:1.6em 0;width:100%}.input--haruki{margin:.5rem 0 1.5rem}@media (min-width:600px){.input--haruki{margin:.5rem 0 3.5rem}}.input__field--haruki{padding:.4em 0;width:100%;background:0 0;color:#666;font-size:2rem}.input__label--haruki{position:absolute;width:100%;text-align:left;pointer-events:none}.input__label-content--haruki{-webkit-transition:-webkit-transform .3s;transition:transform .3s}.input__label--haruki::after,.input__label--haruki::before{content:'';position:absolute;left:0;z-index:-1;width:100%;height:4px;background:#6a7989;-webkit-transition:-webkit-transform .3s;transition:transform .3s}.input__label--haruki::before{top:0}.input__label--haruki::after{bottom:0}.input--filled .input__label-content--haruki,.input__field--haruki:focus+.input__label--haruki .input__label-content--haruki{-webkit-transform:translate3d(0,-90%,0);transform:translate3d(0,-90%,0)}.input--filled .input__label--haruki::before,.input__field--haruki:focus+.input__label--haruki::before{-webkit-transform:translate3d(0,-.5em,0);transform:translate3d(0,-.5em,0)}.input--filled .input__label--haruki::after,.input__field--haruki:focus+.input__label--haruki::after{-webkit-transform:translate3d(0,.5em,0);transform:translate3d(0,.5em,0)}.pg-sw-reload{display:none;color:#fff;max-width:600px;margin:1rem auto;background-color:#dd464c;padding:.5rem 1rem;text-align:center}.pg-sw-reload a{display:block;padding:.5rem;margin-top:1rem;text-align:center}
        </style>
        <link rel="apple-touch-icon" sizes="57x57" href="<%- url_for('/') %>images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="<%- url_for('/') %>images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="<%- url_for('/') %>images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="<%- url_for('/') %>images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="<%- url_for('/') %>images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="<%- url_for('/') %>images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="<%- url_for('/') %>images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="<%- url_for('/') %>images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="<%- url_for('/') %>images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="<%- url_for('/') %>images/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="<%- url_for('/') %>images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="<%- url_for('/') %>images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="<%- url_for('/') %>images/favicon/favicon-16x16.png">
        <link rel="manifest" href="<%- url_for('/') %>manifest.json">
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="<%- url_for('/') %>images/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#000000">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-41706969-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-41706969-1');
        </script>


    </head>
    <body>
        
        <div class="pg-container">
        
            <%- body %>

        </div>

        <%- css('css/patrickgrey.css') %>
        <!-- <%- js('scripts/main.js') %> -->

        <!-- 
            TODOs:
                - Ligthhouse badges
         -->
        
        
    </body>
</html>