

<div class="pg-posts">

    <a class="pg-posts-back-to" href="<%- url_for('/index.html') %>">Back to blog list &nbsp;</a>

    <h2 class="pg-post-title"><%= page.title %></h2>

    <p class="pg-post-date"><%= page.date.format('dddd, Do MMMM YYYY') || 'no date provided' %></p>

    <%- page.content %></h2>


</div>

<%- partial('_partial/about', {class_name: 'pg-post-about'}) %>